<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>New Hire Account Notification - CSG</title>
    <style>
        body { font-family: Arial, sans-serif; background: #f9f9f9; color: #333; }
        .container { max-width: 600px; margin: 40px auto; background: #fff; padding: 30px; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.05);}
        h2 { color: #2a7ae2; }
        .details { background: #f1f7fc; padding: 15px; border-radius: 5px; margin: 20px 0;}
        .footer { font-size: 0.9em; color: #888; margin-top: 30px;}
    </style>
</head>
<body>
    <div class="container">
        <h2></h2>
        <p>Hello,</p>
        <p>Password reset failed for new account. Please manually reset the password for the account details below and send it to HR <br>
        </p> 
        <p>Below is the account details for the new hire.</p>
        <div class="details">
            <strong>Username:</strong> {{ username }}<br>
            <strong>Email:</strong> {{ email }}<br>
        </div>
        <div class="footer">
            <br>
            <br>
             &copy; {{ current_year }} Vartek Services. All rights reserved.
        </div>
    </div>
</body>
</html>